{# Tarjeta de actriz: es un enlace normal a su página propia (/actrices/slug/), sin ventana emergente. #}
<a href="/actrices/{{ actriz.slug }}/" class="tarjeta-actriz" data-letra="{{ actriz.nombre[0] | upper }}">
  <img src="{{ actriz.foto }}" alt="Foto de {{ actriz.nombre }}" width="300" height="400" loading="lazy" decoding="async">
  <span class="tarjeta-actriz-overlay">
    <span class="tarjeta-actriz-nombre">{{ actriz.nombre }}</span>
    {% if actriz.apodo %}<span class="tarjeta-actriz-apodo">💕 {{ actriz.apodo }}</span>{% endif %}
  </span>
</a>
