<button type="button" class="tarjeta-video" data-youtube-id="{{ video.youtubeId }}" aria-label="Reproducir {{ video.titulo }}">
  <span class="tarjeta-video-thumb">
    <img src="https://i.ytimg.com/vi/{{ video.youtubeId }}/hqdefault.jpg" alt="{{ video.titulo }}" width="340" height="190" loading="lazy" decoding="async">
    <span class="tarjeta-video-play">▶</span>
  </span>
  <span class="tarjeta-video-info">
    <span class="tarjeta-video-titulo">{{ video.titulo }}</span>
    <span class="tarjeta-video-autor">{{ video.canal }}</span>
  </span>
</button>
