<a href="#" class="tarjeta-actriz" data-letra="{{ actriz.nombre[0] | upper }}">
  <img src="{{ actriz.foto }}" alt="Foto de {{ actriz.nombre }}" width="300" height="400" loading="lazy" decoding="async">
  <span class="tarjeta-actriz-overlay">
    <span class="tarjeta-actriz-nombre">{{ actriz.nombre }}</span>
    <span class="tarjeta-actriz-apodo">💕 {{ actriz.apodo }}</span>
  </span>
</a>
