<a href="/series/{{ serie.data.slug }}/" class="tarjeta-serie">
  <img src="{{ serie.data.portada }}" alt="Portada de {{ serie.data.titulo }}" width="300" height="450" loading="lazy" decoding="async">
  <span class="tarjeta-titulo">{{ serie.data.titulo }} ({{ serie.data.anio }})</span>
</a>
