---
layout: articulo.njk
title: "YES maybe NO: Tan y Zanook sorprenden con el teaser"
date: 2026-09-22
imagen: "/assets/images/noticias/yes-maybe-no.jpg"
resumen: "Tan y Zanook dan vida a Pat y Pie en el esperado teaser piloto."
description: "Tan y Zanook sorprenden con el teaser piloto de YES maybe NO."
---
<p>Tan y Zanook dan vida a Pat y Pie en el esperado teaser piloto de la nueva producción GL.</p>
