---
layout: serie.njk
slug: am-i-the-only-one-with-butterflies-2018
titulo: "Am I The Only One With Butterflies"
anio: 2018
genero: "Romance"
portada: "/assets/images/series/am-i-the-only-one-with-butterflies.jpg"
sinopsis: "El primer día de trabajo la conoció y, desde entonces, siente mariposas por su jefa. ¿Será la única que siente esta emoción?"
playlist: "PLNEeUHmc7hsAGhHF7ej87nzM_egZN7fYR"
title: "Am I The Only One With Butterflies (2018)"
description: "Am I The Only One With Butterflies (2018) - sinopsis y dónde ver esta serie GL."
---
