---
layout: serie.njk
slug: sorry-my-friend
titulo: "Sorry My Friend"
anio: 2020
genero: "Romance"
portada: "/assets/images/series/sorry-my-friend.jpg"
sinopsis: "Dos mejores amigas ven cambiar su relación cuando surgen sentimientos románticos, enfrentando una dolorosa separación."
videos: ["1C_q9XV5GUU", "e4Sreb8Cpw8"]
title: "Sorry My Friend (2020)"
description: "Sorry My Friend (2020) - sinopsis y dónde ver esta serie GL."
---
