---
title: Catálogo
description: El catálogo de series Girls Love (GL) de Girls Love Play estará disponible muy pronto.
layout: base.njk
permalink: /series/
---
<section class="seccion">
  <h1>📺 Catálogo</h1>
  <p class="seccion-sub">Las mejores series GL</p>

  {# TODO: reemplazar este bloque por el diseño definitivo del Catálogo cuando esté listo. #}
  <div class="catalogo-proximamente">
    <span class="catalogo-proximamente-icono" aria-hidden="true">🚧</span>
    <h2>Próximamente</h2>
    <p>Estamos preparando el catálogo de series GL. Muy pronto vas a encontrarlo acá.</p>
    <p><a href="/series-tv/">Mientras tanto, mirá las series en Series</a> o pasá por las <a href="/noticias/">últimas noticias</a>.</p>
  </div>
</section>
