---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pagina in collections.all %}
  {#- Las páginas marcadas noindex (ej. letras de Actrices sin actrices cargadas) no van al sitemap #}
  {%- if not pagina.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ pagina.url }}</loc>
    {#- lastmod solo donde hay una fecha real cargada (artículos). Una fecha inventada perjudica más que ayuda. #}
    {%- set _mod = pagina.data.modificado or pagina.data.date %}
    {%- if _mod %}
    <lastmod>{{ _mod | fechaCorta }}</lastmod>
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
{#- Páginas de cada serie de Series GL (salen de seriesTv.json) #}
{%- for s in seriesTv %}
  <url>
    <loc>{{ site.url }}/series-gl/{{ (s.slug or s.titulo) | slugify }}/</loc>
  </url>
{%- endfor %}
{#- Página de cada video (Extras, OST, Comunidad, Próximamente): solo las que tienen texto propio y no están en noindex #}
{%- for v in videoPaginas %}
  {%- if v.noindexFinal == false %}
  <url>
    <loc>{{ site.url }}/{{ v.base }}/{{ v.slug }}/</loc>
  </url>
  {%- endif %}
{%- endfor %}
{#- Página de cada ship #}
{%- for s in shipsWeb %}
  {%- if s.noindexFinal == false %}
  <url>
    <loc>{{ site.url }}/ships/{{ s.slug }}/</loc>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>
