---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for pagina in collections.all %}
  {#- Las páginas marcadas noindex (ej. letras de Actrices sin actrices cargadas) no van al sitemap #}
  {%- if not pagina.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ pagina.url }}</loc>
  </url>
  {%- endif %}
{%- endfor %}
{#- Páginas de cada serie de Series GL (salen de seriesTv.json) #}
{%- for s in seriesTv %}
  <url>
    <loc>{{ site.url }}/series-gl/{{ (s.slug or s.titulo) | slugify }}/</loc>
  </url>
{%- endfor %}
</urlset>
